<p>You are logged in as: <strong>{{author.getFullName()}}</strong></p>
<form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-11">
            <textarea id="content" name="content" placeholder="Yor message text" class="form-control" formControlName="content" required></textarea>
        </div>
        <div class="col-md-1">
            <input class="btn btn-primary" value="Send" type="submit" [disabled]="!mainForm.valid">
        </div>
    </div>
</form>