<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/tasks-board']">Tasks</a>
                </li>
                <li>
                    <a [routerLink]="['/live-chat']">Live chat</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/logout']">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>